h1, h2 {
    text-align: center;
}

.gtr-guitar {
    margin: 0 1em;
}

.gtr-note {
    background-color: #F2D9A6;
}

.gtr-guitar.naturals .gtr-note[data-sharp="true"] {
    background-color: #EAC16E;
    color: transparent;
}

.gtr-guitar.gsharp .gtr-note[data-sharp="false"][data-natural="G"],
.gtr-guitar.gsharp .gtr-note[data-sharp="true"]:not([data-natural="G"]) {
    background-color: #EAC16E;
    color: transparent;
}

.gtr-guitar.fsharp-gsharp .gtr-note[data-sharp="false"][data-natural="F"],
.gtr-guitar.fsharp-gsharp .gtr-note[data-sharp="false"][data-natural="G"],
.gtr-guitar.fsharp-gsharp .gtr-note[data-sharp="true"]:not([data-natural="F"]):not([data-natural="G"]) {
    background-color: #EAC16E;
    color: transparent;
}

.gtr-note:hover {
    background-color: #E0A124;
    cursor: pointer;
}

.gtr-note.selected {
    background-color: #EAC16E;
}
